.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header .controls{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.header-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.header-bottom .controls{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.border-bottom{
    border-bottom: 1px solid var(--p-content-border-color);
}

h3{
    margin: 0;
}

h4{
    margin: 0;
}

.item-list{
    padding: 1rem;
}

.item-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item-body{
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    gap: 0.5rem;
}

.item-footer{
    display: flex;
    flex-direction: row;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    gap: 0.5rem;
    align-items: flex-end;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    background-color: var(--background-color);
    padding: 10px;
}

.dialog-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.dialog-subtitle {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.dialog-input {
  display: flex;
  justify-content: space-between;
}

.dialog-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

@media (max-width: 1000px) {
    .grid-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        background-color: var(--background-color);
        padding: 10px;
    }
}

@media (min-width: 1001px) {
    .grid-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        background-color: var(--background-color);
        padding: 10px;
    }
}
