<p-dataview #dv [value]="savings$()" [layout]="layout">
    <ng-template #header>
        <div class="header">
            <h3>Ahorros activos</h3>
            <div class="controls">
                <p-button label="Nuevo ahorro" icon="pi pi-plus" />
            </div>
        </div>
        <div class="header-bottom">
            <h3>Total de ahorro: {{totalSaving | currency}}</h3>
        </div>
    </ng-template>
    <ng-template #list let-savings>
        @for (saving of savings; track $index) {
            <div class="border-bottom item-list" (click)="details(saving)">
                <div class="item-header">
                    <h3>
                        <i class="pi pi-wallet"></i> 
                        {{saving.cantidad | currency}}
                    </h3>
                </div>
                <div class="item-body">
                    <span><strong>Nombre: </strong>{{saving.nombre}}</span>
                    <span><strong>Meta:</strong> {{saving.meta | currency }}</span>
                </div>
                <div class="item-footer">
                    <p-button icon="pi pi-download" label="Guardar" />
                    <p-button icon="pi pi-upload" label="Retriar" />
                    <p-button icon="pi pi-pencil" severity="secondary" />
                    <p-button icon="pi pi-trash" severity="danger" />
                </div>
            </div>
        } 
    </ng-template>
    <ng-template #grid let-savings>
        <div class="grid-container">
            @for (saving of savings; track $index) {
                <p-card [style]="{height: '100%'}" (click)="details(saving)">
                    <div class="item-header">
                        <h3>
                            <i class="pi pi-wallet"></i> 
                            {{saving.cantidad | currency}}
                        </h3>
                    </div>
                    <div class="item-body">
                        <span><strong>Nombre: </strong>{{saving.nombre}}</span>
                        <span><strong>Meta:</strong> {{saving.meta | currency }}</span>
                    </div>
                    <div class="item-footer">
                        <p-button icon="pi pi-download" label="Guardar" size="small" />
                        <p-button icon="pi pi-upload" label="Retriar" size="small" />
                        <p-button icon="pi pi-pencil" severity="secondary" size="small" />
                        <p-button icon="pi pi-trash" severity="danger" size="small" />
                    </div>
                </p-card>
            }
        </div>
    </ng-template>
</p-dataview>