<p-dataview #dv [value]="family$()" [layout]="layout" emptyMessage="No hay resultados para mostrar">
    <ng-template #header>
        <div class="header">
            <h3>Familiares registrados</h3>
            @if (isAdmin | async) {
                <p-button label="Nuevo familiar" (onClick)="dialogFormVisible = true; dialogIsNew = true;" />
            }
        </div>
        <div class="header">
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input type="text" pInputText placeholder="Buscar" pSize="small" [(ngModel)]="filter" (input)="onFilter()"/>
            </p-iconfield>
        </div>
    </ng-template>
    <ng-template #list let-family>
        @if (loading$()) {
            @for (_ of _utils.arrayOf(10); track $index) {
                <div class="border-bottom item-list">
                    <div class="item-info">
                        <p-skeleton width="3rem" height="1rem" shape="circle" size="2rem" />
                        <p-skeleton [width]="_utils.randomNumberInt(6,15).toString() + 'rem'" height="1rem" />
                    </div>
                    <div class="item-controls">
                        <p-button icon="pi pi-pencil" disabled="true" rounded="true" [style]="{width:'30px', height:'30px'}"/>
                        <p-button icon="pi pi-trash" disabled="true" severity="danger" rounded="true" [style]="{width:'30px', height:'30px'}" />
                    </div>
                </div>
            } 
        }@else {
            @for (pepole of family; track $index) {
                <div class="border-bottom item-list">
                    <div class="item-info">
                        @if (pepole.foto) {
                            <p-avatar [image]="pepole.foto" shape="circle" />
                        }@else {
                            <p-avatar [label]="getIniciales(pepole)" shape="circle" />
                        }
                        <h4>{{pepole.nombres}} {{pepole.apellidos}}</h4>
                        @if (pepole.admin) {<i class="pi pi-verified" style="color: green;"></i>}
                    </div>
                    @if (isAdmin | async) {
                        <div class="item-controls">
                            <p-button (onClick)="openEditFamily(pepole)" icon="pi pi-pencil" rounded="true" [style]="{width:'30px', height:'30px'}"/>
                            <p-button (onClick)="confirmDelete($event,pepole)" icon="pi pi-trash" severity="danger" rounded="true" [style]="{width:'30px', height:'30px'}" />
                        </div>
                    }
                </div>
            } 
        }
    </ng-template>
    <ng-template #grid let-family>
        <div class="grid-container">
            @if (loading$()) {
                @for (_ of  _utils.arrayOf(10);  track $index) {
                    <p-card [style]="{height: '100%'}">
                        <div class="item-info">
                            <p-skeleton width="3rem" height="1rem" shape="circle" size="2rem" />
                            <p-skeleton [width]="_utils.randomNumberInt(6,15).toString() + 'rem'" height="1rem" />
                        </div>
                        <div class="item-controls">
                            <p-button icon="pi pi-pencil" disabled="true" label="Editar" rounded="true" size="small"/>
                            <p-button icon="pi pi-trash" disabled="true" label="Eliminar" severity="danger" rounded="true" size="small" />
                        </div>
                    </p-card>
                }
            }@else {
                @for (pepole of family; track $index) {
                    <p-card [style]="{height: '100%'}">
                        <div class="item-info">
                            @if (pepole.foto) {
                                <p-avatar [image]="pepole.foto" shape="circle" />
                            }@else {
                                <p-avatar [label]="getIniciales(pepole)" shape="circle" />
                            }
                            <h4>{{pepole.nombres}} {{pepole.apellidos}}</h4>
                            @if (pepole.admin) {<i class="pi pi-verified" style="color: green;"></i>}
                        </div>
                        @if (isAdmin | async) {
                            <div class="item-controls">
                                <p-button (onClick)="openEditFamily(pepole)" icon="pi pi-pencil" label="Editar" rounded="true" size="small"/>
                                <p-button (onClick)="confirmDelete($event,pepole)" icon="pi pi-trash" label="Eliminar" severity="danger" rounded="true" size="small" />
                            </div>
                        }
                    </p-card>
                }
            }
        </div>
    </ng-template>
</p-dataview>


<p-dialog header="{{dialogIsNew ? 'Nuevo familiar' : 'Editar familiar'}}" [modal]="true" closable="false" [(visible)]="dialogFormVisible" [style]="{ width: '25rem' }">
    <form class="dialog-content" [formGroup]="familyFg">
        <span class="dialog-subtitle">Ingresa la información solicitada</span>
        <div class="dialog-input">
            <label for="nombre" class="dialog-labels">Nombre(s)</label>
            <div style="display: flex; flex-direction: column;">
                <input pInputText id="nombre" autocomplete="off" formControlName="nombre"
                class="{{familyFg.controls.nombre.invalid && familyFg.controls.nombre.touched ? 'ng-invalid ng-dirty' : ''}}"/>
                @if (familyFg.controls.nombre.getError('required') && familyFg.controls.nombre.touched) {
                    <small class="label-error">Este campo es requerido</small>
                }
            </div>
        </div>
        <div class="dialog-input">
            <label for="lastname" class="dialog-labels">Apellidos</label>
            <div style="display: flex; flex-direction: column;">
                <input pInputText id="lastname" autocomplete="off" formControlName="apellidos"
                class="{{familyFg.controls.apellidos.invalid && familyFg.controls.apellidos.touched ? 'ng-invalid ng-dirty' : ''}}"/>
                @if (familyFg.controls.apellidos.getError('required') && familyFg.controls.apellidos.touched) {
                    <small class="label-error">Este campo es requerido</small>
                }
            </div>
        </div>
        <div class="dialog-checkbox">
            <label for="admin" class="dialog-labels">¿Es administrador?</label>
            <p-checkbox id="admin" name="admin" [binary]="true" formControlName="admin"/>
        </div>
        <div class="dialog-buttons">
            <p-button label="Cancelar" severity="secondary" (click)="cancelDialog()" />
            <p-button label="{{dialogIsNew ? 'Agregar' : 'Modificar'}}" [loading]="loading$()" (click)="submitDialog()" />
        </div>
    </form>
</p-dialog>

<p-confirmPopup />