<p-dataview #dv [value]="family$()" [layout]="layout">
    <ng-template #header>
        <div class="header">
            <h3>Familiares registrados</h3>
            <p-button label="Nuevo familiar" />
        </div>
        <div class="header">
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input type="text" pInputText placeholder="Buscar" pSize="small" [(ngModel)]="filter" (input)="onFilter()"/>
            </p-iconfield>
        </div>
    </ng-template>
    <ng-template #list let-family>
        @for (pepole of family; track $index) {
            <div class="border-bottom item-list">
                <div class="item-info">
                    @if (pepole.foto) {
                        <p-avatar [image]="pepole.foto" shape="circle" />
                    }@else {
                        <p-avatar [label]="getIniciales(pepole)" shape="circle" />
                    }
                    <h4>{{pepole.nombres}} {{pepole.apellidos}}</h4>
                    @if (pepole.admin) {<i class="pi pi-verified" style="color: green;"></i>}
                </div>
                <div class="item-controls">
                    <p-button icon="pi pi-pencil" rounded="true" [style]="{width:'30px', height:'30px'}"/>
                    <p-button icon="pi pi-trash" severity="danger" rounded="true" [style]="{width:'30px', height:'30px'}" />
                </div>
            </div>
        } 
    </ng-template>
    <ng-template #grid let-family>
        <div class="grid-container">
            @for (pepole of family; track $index) {
                <p-card [style]="{height: '100%'}">
                    <div class="item-info">
                        @if (pepole.foto) {
                            <p-avatar [image]="pepole.foto" shape="circle" />
                        }@else {
                            <p-avatar [label]="getIniciales(pepole)" shape="circle" />
                        }
                        <h4>{{pepole.nombres}} {{pepole.apellidos}}</h4>
                        @if (pepole.admin) {<i class="pi pi-verified" style="color: green;"></i>}
                    </div>
                    <div class="item-controls">
                        <p-button icon="pi pi-pencil" label="Editar" rounded="true" size="small"/>
                        <p-button icon="pi pi-trash" label="Eliminar" severity="danger" rounded="true" size="small" />
                    </div>
                </p-card>
            }
        </div>
    </ng-template>
</p-dataview>