h4{
    margin: 0;
}

.account {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    user-select: none;
}

.menu{
    position: sticky;
    top: -1px;
    z-index: 99;
}