<p-dataview #dv [value]="movements$()" [layout]="layout">
    <ng-template #header>
        <div class="header">
            <h3>{{filterType?.nombre ?? 'Movimientos'}} {{filterSaving ? 'de '+filterSaving.nombre :'recientes'}}</h3>
            @if (layout === 'grid') {
                <div class="controls">
                    @if (filterSaving) {
                        @if(filterType?.id === 'retiro' || !filterType){
                            <p-button label="Retirar dinero" size="small" />
                        }
                        @if(filterType?.id === 'deposito' || !filterType){
                            <p-button label="Guardar dinero" size="small" />
                        }
                    }
                    <p-select size="small" (onChange)="notifyFilter()" [options]="filterTypeOptions" [(ngModel)]="filterType" showClear="true" variant="filled"
                        optionLabel="nombre" placeholder="Filtrar por tipo" />
                    <p-select size="small" (onChange)="notifyFilter()" [options]="savings$()"
                        [(ngModel)]="filterSaving" showClear="true" variant="filled" optionLabel="nombre"
                        placeholder="Filtrar por ahorro" />
                </div>
            }
        </div>
        @if (layout === 'list') {
        <div class="header-bottom">
                <div class="controls">
                    @if (filterSaving) {
                        @if(filterType?.id === 'retiro' || !filterType){
                            <p-button label="Retirar" size="small" />
                        }
                        @if(filterType?.id === 'deposito' || !filterType){
                            <p-button label="Guardar" size="small" />
                        }>
                    }
                    <p-select size="small" (onChange)="notifyFilter()" [options]="filterTypeOptions" [(ngModel)]="filterType" showClear="true" variant="filled"
                        optionLabel="nombre" placeholder="Filtrar por tipo" />
                    <p-select size="small" (onChange)="notifyFilter()" [options]="savings$()"
                        [(ngModel)]="filterSaving" showClear="true" variant="filled" optionLabel="nombre"
                        placeholder="Filtrar por ahorro" />
                </div>
            </div>
        }
    </ng-template>
    <ng-template #list let-movements>
        @for (movement of movements; track $index) {
            <div class="border-bottom item-list">
                <div class="item-header">
                    <h3 class="{{isDeposit(movement) ? 'deposit' : 'out'}}">
                        <i class="pi {{isDeposit(movement) ? 'pi-arrow-circle-down' : 'pi-arrow-circle-up'}}"></i>
                        {{movement.cantidad | currency}}
                    </h3>
                    <h3>{{movement.fecha}}</h3>
                </div>
                <div class="item-body">
                    <span><strong>Ahorro: </strong>{{getSavingName(movement.idAhorros)}}</span>
                    <span><strong>Familiar:</strong> {{movement.familiar}}</span>
                    <span><strong>Descripción: </strong>{{movement.descripcion}}</span>
                </div>
            </div>
        } 
    </ng-template>
    <ng-template #grid let-movements>
        <div class="grid-container">
            @for (movement of movements; track $index) {
                <p-card [style]="{height: '100%'}">
                    <div class="item-header">
                        <h3 class="{{isDeposit(movement) ? 'deposit' : 'out'}}">
                            <i class="pi {{isDeposit(movement) ? 'pi-arrow-circle-down' : 'pi-arrow-circle-up'}}"></i> 
                            {{movement.cantidad | currency}}
                        </h3>
                        <h3>{{movement.fecha}}</h3>
                    </div>
                    <div class="item-body">
                        <span><strong>Ahorro: </strong>{{getSavingName(movement.idAhorros)}}</span>
                        <span><strong>Familiar:</strong> {{movement.familiar}}</span>
                        <span><strong>Descripción: </strong>{{movement.descripcion}}</span>
                    </div>
                </p-card>
            }
        </div>
    </ng-template>
</p-dataview>