<p-card [style]="{borderRadius:'20px'}">
    <div class="content">
        <h1>Recuperar contraseña</h1>
        <form [formGroup]="emailForm" style="width: 100%;">
            <p-floatlabel>
                <input [fluid]="true" pInputText id="email" [formControl]="emailForm.controls.email" autocomplete="off" />
                <label for="email">Introduce tu correo electronico</label>
            </p-floatlabel>
        </form>
        <p-button label="Enviar correo de recuperación" iconPos="right" icon="pi pi-send" (onClick)="sendEmail()"/>
    </div>
</p-card>